@charset "utf-8";
banner {
}

h1 {
	font-size: 1.8em;
}
h2 {
}


p {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #FFF248;
	font-size: large;
}
body {
	background-color: #9739FF;
}
